extends ../../default
block content
    // START CENTERED WHITE CONTAINER
    table.main(role='presentation')
        // START MAIN CONTENT AREA
        tr
            td.wrapper
                table(role='presentation' border='0' cellpadding='0' cellspacing='0')
                    tr
                        td
                            p Hi there,
                            p You told us you forgot your password. if you really did , click here to choose a new one.
                                |
                            table.btn.btn-primary(role='presentation' border='0' cellpadding='0' cellspacing='0')
                                tbody
                                    tr
                                        td(align='left')
                                            table(role='presentation' border='0' cellpadding='0' cellspacing='0')
                                                tbody
                                                    tr
                                                        td
                                                            a(href=`${url}/${token}` target='_blank') Choose a new password
                            p
                                | If you didn't mean to reset your password, then you can just ignore this email, your password will not change.
                            p Good luck!
            // END MAIN CONTENT AREA
    // END CENTERED WHITE CONTAINER
