{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "10"
        }
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "server": "./server/",
        "internals": "./internals",
        "database": "./database",
        "views": "./views"
      }
    }],
  ]
}
