.hero {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &.is-teal {
    background-color: whitesmoke;
    color: #363636;
    .hero-body {
      flex-grow: 1;
      flex-shrink: 0;
      padding: 1.2rem 1.5rem 2.4rem 1.5rem;
      h1.title {
        color:#363636;
        font-size: 1.25rem;
        font-weight: 400;
        line-height: 1.2;
      }
      strong.subtitle {
        color: #4a4a4a;
        font-size: 2.44rem;
        font-weight: 800;
        line-height: 1.325;
      }
    }
  }
}
