.content {
  text-align: center;
  img {
    margin:20vh auto 50px auto;
    width:80%;
    height:auto;
  }
  a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
  }
}
