doctype html
head
    meta(name='viewport' content='width=device-width')
    meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
    title BetterCode Email
    link(rel='stylesheet' href='../auth/default.css')
    style
        include ../style/default.css
body
    table.body(role='presentation' border='0' cellpadding='0' cellspacing='0')
        tr
            td &nbsp;
            td.container
               div.content
                   // HEADER LAYOUT
                   include ../layouts/header

                   block content
    // FOOTER LAYOUT
    include ../layouts/footer
