extends default
block content
    // START CENTERED WHITE CONTAINER
    table.main(role='presentation')
        // START MAIN CONTENT AREA
        tr
            td.wrapper
                table(role='presentation' border='0' cellpadding='0' cellspacing='0')
                    tr
                        td
                            p Hi there,
                            p Welcome to MasterCode.io — we're a community of developers sharing ideas and best coding practices to enable productivity.
                                |
                            table.btn.btn-primary(role='presentation' border='0' cellpadding='0' cellspacing='0')
                                tbody
                                    tr
                                        td(align='left')
                                            table(role='presentation' border='0' cellpadding='0' cellspacing='0')
                                                tbody
                                                    tr
                                                        td
                                                            a(href='http://htmlemail.io' target='_blank') Go To Our Website
                            p
                                | If you have any questions, either one of my team members or I will be happy to answer them. Just reply to this email.
                            p Good luck! , Happy Coding!
            // END MAIN CONTENT AREA
    // END CENTERED WHITE CONTAINER
