// START FOOTER
.footer
    table(role='presentation' border='0' cellpadding='0' cellspacing='0')
        tr
            td.content-block
                span.apple-link &copy; 2019 OrbitJS. All rights reserved.
        tr
            td.content-block.powered-by
                | Powered by
                a(href='http://htmlemail.io') HTMLemail
                | .
// END FOOTER
