/** Colors **/
$aqua:  #7FDBFF;
$blue:  #0074D9;
$navy:  #001F3F;
$teal:  #38b2ac;
$green: #38a169;
$olive: #3D9970;
$lime:  #01FF70;
$teal:  #4fd1c5;
$seashell: #F1F1F1;
$yellow:  #F6E05E;
$orange:  #FF851B;
$red:     #FF4136;
$fuchsia: #F012BE;
$purple:  #B10DC9;
$maroon:  #85144B;
$white:  #FFFFFF;
$gray:   #586069;
$black:  #111111;
$alabaster: #FBFBFB;
$boulder: #757575;
$chambray: #3A589B;
$mine_shaft: #333333;
$valencia: #D6492F;
$concrete: #F2F2F2;
$mercury: #E6E6E6;
$silver:#BDBDBD;
$astral:#346da6;
$tree_poppy:#F6921E;
$cod_gray:#181617;
$dark: #383A41;

/** Size **/
$size : 1rem;